#F{
  background-color: #1E90FF;
}
/* #ff9999 */
#S{
  background-color: #DEB887;
}
#T{
  background: #FFDAB9;
}

/* body { background: url(https://st2.depositphotos.com/3505845/10925/v/950/depositphotos_109254406-stock-illustration-pattern-with-yellow-bananas.jpg); } */
